version: 2.1
orbs:
  ruby: circleci/ruby@0.1.2

jobs:
  build:
    docker:
      - image: circleci/ruby:2.6.3-stretch-node
    executor: ruby/default
    steps:
      - checkout
      - run:
          name: "Test env vars"
          command: |
            export RELEASE_ID=$(git log -1 --pretty='%ad' --date=format:'%Y%m%d-%H%M%S')
            echo $RELEASE_ID
            echo ${RELEASE_ID}
